<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Détails du contact</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-danger" ng-click="deleteContact()">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
            </a>
        </div>
        <a class="btn btn-danger pull-right hidden-xs" ng-click="deleteContact()">
            <i class="fa fa-trash"></i>
            <span>Delete</span>
        </a>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" ng-click="editContact()">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
        <a class="btn btn-primary pull-right hidden-xs" ng-click="editContact()">
            <i class="fa fa-pencil"></i>
            <span>Edit</span>
        </a>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <i ng-if = "contact.active" class="fa fa-3x fa-user pull-left"></i>
            <span ng-if = "!contact.active" class="fa-stack fa-lg">
                <i class="fa fa-user fa-stack-2x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            <label>Nom</label>
            <h4 class="list-group-item-heading">{{contact.lastName}}</h4>
        </div>
        <div class="list-group-item">
            <label>Prénom</label>
            <h4 class="list-group-item-heading">{{contact.firstName}}</h4>
        </div>
    </div>
</div>