<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Moyens de contact</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" href="#/crm/companies/{{company.id}}/email/add"
               data-toggle="modal"
               data-target="#editModal">
                <i class="fa fa-plus"></i>
                <span>Ajouter</span>
            </a>
        </div>
        <a class="btn btn-primary pull-right hidden-xs" href="#/crm/companies/{{companyId}}/email/add">
            <i class="fa fa-plus"></i>
            <span>Email</span>
        </a>
        <a class="btn btn-primary pull-right hidden-xs" href="#/crm/companies/{{companyId}}/address/add">
            <i class="fa fa-plus"></i>
            <span>Adresse</span>
        </a>
        <a class="btn btn-primary pull-right hidden-xs" href="#/crm/companies/{{companyId}}/phone/add">
            <i class="fa fa-plus"></i>
            <span>Phone</span>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="email in emails"
           href="#/crm/companies/{{companyId}}/email/{{email.id}}">
            <i class="fa fa-3x fa-at pull-left"></i>
            <label>{{email.name}}</label>
            <h4 class="list-group-item-heading">{{email.value}}</h4>
        </a>
        <a class="list-group-item" ng-repeat="address in addresses"
           href="#/crm/companies/{{companyId}}/address/{{address.id}}">
            <i class="fa fa-3x fa-envelope-o pull-left"></i>
            <label>{{address.name}}</label>
            <h4 class="list-group-item-heading">{{address.zipCode}}&nbsp;{{address.city}}</h4>
        </a>
        <a class="list-group-item" ng-repeat="phone in phones"
           href="#/crm/companies/{{companyId}}/phone/{{phone.id}}">
            <i class="fa fa-3x fa-phone pull-left"></i>
            <label>{{phone.name}}</label>
            <h4 class="list-group-item-heading">{{phone.number}}</h4>
        </a>
    </div>
</div>