<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Employés</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" href="#/crm/companies/{{company.id}}/employee/add">
                <i class="fa fa-plus"></i><span>Ajouter</span>
            </a>
        </div>
        <a class="btn btn-primary pull-right hidden-xs" href="#/crm/companies/{{company.id}}/employee/add">
            <i class="fa fa-plus"></i><span>Ajouter</span>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="employee in employees"
           href="#/crm/companies/{{company.id}}/employees/{{employee.id}}">
            <label>{{employee.description}}</label>
            <h4 class="list-group-item-heading">{{employee.firstName}} {{employee.lastName}}</h4>
        </a>
    </div>
</div>