<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Détails de l'employé</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-danger" ng-click="deleteEmployee()">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
            </a>
        </div>
        <a class="btn btn-danger pull-right hidden-xs" ng-click="deleteEmployee()">
            <i class="fa fa-trash"></i>
            <span>Delete</span>
        </a>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" ng-click="editEmployee()">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
        <a class="btn btn-primary pull-right hidden-xs" ng-click="editEmployee()">
            <i class="fa fa-pencil"></i>
            <span>Edit</span>
        </a>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <i class="fa fa-2x fa-building-o pull-left"></i>
            <label>Nom</label>
            <h4 class="list-group-item-heading">{{employee.lastName}}</h4>
        </div>
        <div class="list-group-item">
            <label>Prénom</label>
            <h4 class="list-group-item-heading">{{employee.firstName}}</h4>
        </div>
    </div>
</div>