<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Détails du téléphone</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-danger" ng-click="deletePhone()">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
            </a>
        </div>
        <a class="btn btn-danger pull-right hidden-xs" ng-click="deletePhone()">
            <i class="fa fa-trash"></i>
            <span>Delete</span>
        </a>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" ng-click="editPhone()">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
        <a class="btn btn-primary pull-right hidden-xs" ng-click="editPhone()">
            <i class="fa fa-pencil"></i>
            <span>Edit</span>
        </a>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <label>Nom</label>
            <h4 class="list-group-item-heading">{{phone.name}}</h4>
        </div>
        <div class="list-group-item">
            <label>Type</label>
            <h4 class="list-group-item-heading">{{phone.type}}</h4>
        </div>
        <div class="list-group-item">
            <label>Numéro</label>
            <h4 class="list-group-item-heading">{{phone.number}}</h4>
        </div>
    </div>
</div>